@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter:wght@600&display=swap');
*{
  font-family: Inter ,sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Heebo , sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: Inter, sans-serif;
}
header img{
  width: 20%;
  height: auto;
}

header .icon-box{
  text-align: center;
  vertical-align: center; 
  display: flex;
  align-items: center;
}
header .icon-box{
  min-width:  220px;
  height: auto;
  padding-right: 25px;
}
header .icon-box span{
  font-size: 16px;
  line-height: 24px;
}
header .icon-box h6{
  text-align: left;
  line-height: 21px;
  font-weight: 500;
  color:  #9b0000;
}
header .icon-box .icon i {
 background: #9b0000;
 padding: 12px;
 color: #fff;
 font-size: 22px;
 border-radius: 50%;
 width: 50px;
 height: 50px;
 margin-left: auto;
 margin-right: 10px;
 text-align: center;
 vertical-align: center;
}

/*MenuBar*/
/* Offside instances */
#menubar .offside {
  padding: 20px 0;
  width: 200px;
  background-color: #f8f9fa;
}
/* Abstract icon class*/
#menubar .icon {
  display: block;
  position: relative;
  padding: 10px 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
}

#menubar .icon .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color:  #000;
}
#menubar .icon--cross .icon-bar {
  background: #9B0000;
}

#menubar .icon:hover .icon-bar {
  background-color: #FFD02D;
}
#menu-1 .nav-link{
  color: #0B1B69;
  color: #0B1B69;
  font-family: Inter , sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: block;
  padding-top: 10px;
}

#menubar .icon:focus {
  outline: 0;
}
/* Hamburger button */
#menubar .icon--hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* Close button */
#menubar .icon--cross {
  padding: 20px;
}

#menubar .icon--cross > .icon-bar + .icon-bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menubar .icon--cross > .icon-bar{
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -2px;
}

/* Helpers */
#menubar .h--right{
  float: right;
}

#menubar .menu-btn-1{
  display: none;
}
#menubar{
  padding-left: 30px;
  border-top: 2px solid #eee;
  display: flex;
  text-transform: uppercase;
  padding: 10px 0 10px 30px; 
}
.nav{
  padding-left: 30px;
  text-transform: uppercase;
  align-items: center;
}
.nav .nav-link{
  color: #0B1B69;
  font-family: Inter , sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 12px;
  display: block;
  padding-right: 38px;
  text-transform: uppercase;
}
.nav .nav-link:hover{
  color: #9b0000;
}
.nav-btn .btn{
  /*background: #0B1B69;*/
  text-transform: uppercase;
  /*color: #fff;*/
  font-family: Inter, sans-serif;
  border-radius: 50px;
  /*border: none;*/
  box-sizing: border-box;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding: 15px 30px 15px 30px;
  transition: all 0.4s ease-in-out;
}

/*First-section Start*/
.first-section{
  background-image: linear-gradient(rgba(0,0,0,0.4),#3551b5), url("1.jpg");
padding: 100px;
}
.first-section .breadcrumb ul{
  padding: 10px 16px;
  list-style: none;
  margin: 0 auto;
}
.first-section .breadcrumb ul li {
  display: inline;
  font-size: 18px;
  color: #fff;
}
.first-section .breadcrumb ul li+li:before {
  padding: 8px;
  color: #FFD02D;
  content: ">\00a0";
}
.first-section .breadcrumb ul li a {
  color: #fff;
  text-decoration: none;
}
.first-section .breadcrumb ul li a:hover {
  color: #9B0000;
  text-decoration: underline;
}

/*First-section End*/
/*Second Section*/
.second-section{
  padding-top: 80px;
  padding-bottom:  80px;
}
.second-section .heading{
  color: #9B0000;
}
.second-section ul li{
  padding: 5px;
}
.second-section ul li span{
  color: #9B0000;
  transition: all 0.8s;
}
.second-section ul li:hover{
margin-left: 10px;
}
.second-section img{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #eee;
  border-radius: .5rem;
  width: 100%;
  height: 25rem;
  transform: scale(1);
  transition: all 0.5s linear;
}
.second-section img:hover{
transform: scale(1.05);
}

/*Second Section End*/
/* footer-section start*/
footer{
  padding-top: 80px;
  /*padding-bottom:  80px;*/
  background-image: linear-gradient(rgba(11,27,105,0.4),rgb(53, 81, 181)), url("1.jpg");
}
footer img{
  width: 8rem;
  height: 5.5rem;
}
footer p{
  padding: 20px;
  color: #9398b1;
}
footer .icons {
     display: inline-block;
     padding: 0px 20px;
   }
   
  footer .icons i {
     background: #FFD027;
     padding: 7px;
     color: #0B1B69;
     font-size: 22px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
     transition: all 0.4s ease;
   }
   footer .icons i:hover{
    background: #fff;
    color: #FFD027;
   }
   footer .quick-link h5:after{
  background-color: orange;
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0;
}
footer .quick-link ul ,footer .useful-links ul{
  padding: 0;
}
footer .quick-link ul li ,footer .useful-links ul li{
  list-style: none;
  padding-top: 6px;
}
footer .quick-link ul li a ,footer .useful-links ul li a{
  color: #fff;
  text-align: center;
  text-decoration: none;
}
footer .useful-links h5:after{
  background-color: orange;
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0;
}
footer .newsletter h5:after{
  background-color: orange;
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px 0;
}
footer .newsletter p{
  padding: 0;
}
footer .newsletter .btn{
  color: #0B1B69;
  border-radius: 0;
}
/*contact-section*/
footer .call-btn{
  margin-top: 30px;
  padding: 20px;
  background:#0B1B69;
  text-align: center;
  color: #fff;
  vertical-align: center; 
}
footer .call-btn .icons i {
     background: #FFD027;
     padding: 7px;
     color: #0B1B69;
     font-size: 22px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
   }
footer .support-btn{
  margin-top: 30px;
  padding: 20px;
  background:#FFD027;
  text-align: center;
  color: #0B1B69;
  vertical-align: center; 
}
footer .support-btn .icons i {
     background: #0B1B69;
     padding: 7px;
     color: #FFD027;
     font-size: 22px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
   }
  footer .copyright p{
   padding: 5px;
}
  footer .copyright{
   border-top: 2px solid #eee;
}

   /*footer-section End*/








/*Media Query*/
@media(max-width:1200px){
  header .icon-box {
    display: none;
  }
  footer .icons{
    padding: 10px;
  }
  footer .icon-parent i{
margin-left: 2px;
padding: 8px;

  }
}

@media(max-width:992px){
  header .icon-box {
display: none;
  }
#menubar{
  background: #9B0000;
  color: #fff;
  margin-bottom: 1rem;
}

#menubar .menu-btn-1{
  display: initial;
 }
.nav{ 
  display: none;
}

html{
  scroll-behavior: smooth;
}
