@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter:wght@600&display=swap');
*{
  font-family: 'Heebo' ,sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Heebo' , sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family:' Inter ', sans-serif;
}
header {
  padding: 30px 0 0;
}
header a{
  text-decoration: none;
}
header img{
  width: 45%;
  height: auto;
}
header .icon-box{
  text-align: center;
  color: #0B1B69;
  vertical-align: center; 
  display: flex;
  align-items: center;
}
header .icon-box{
  min-width:  220px;
  height: auto;
  padding-right: 25px;
}
header .icon-box span{
  font-size: 16px;
  line-height: 24px;
}
header .icon-box h6{
  text-align: left;
  line-height: 21px;
  font-weight: 500;
  font-size: 1rem;
  color:  var(--blue);
}
header .icon-box .icon i {
 background: var(--yellow);
 line-height: 50px;
 color: var(--blue);
 font-size: 22px;
 border-radius: 50%;
 width: 50px;
 height: 50px;
 margin-left: auto;
 margin-right: 10px;
 text-align: center;
 vertical-align: center;
}

section{
  padding-top: 80px;
}
:root{
  --red:var(--blue);
  --yellow:#FFD000;
  --black:#424955;
  --blue:#273272;
  --text:#6c7084;
}

/*Navigation*/
.btn-dark {
  background: transparent;
  color: var(--yellow);
  border: none;
  margin-left: 10px;
}
.btn-dark:hover{
    background: var(--yellow);
}
.offcanvas-active{
  overflow:hidden;
}
.offcanvas-header{ 
  display:none;
   }
   .logo-img{
    display: none;
   }
   .logo-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
   }

.screen-darken{
  height: 100%;
  width:0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
  z-index:10; 
  transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

.navbar{
  background-color: #FFF;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,.7);*/
}

.navbar>.container-fluid{
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8.5%;
}
.navbar .navbar-nav .nav-item .nav-link{
  margin-left: 32px;
  text-transform: capitalize;
  font-size: 0.9rem;
  /*line-height: 12px;*/
  padding: 10px;
  padding-right: 20px;
  color: var(--blue);
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  transition: 0.4s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover ,.nav-link.active{
  color: var(--yellow);
} 
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover{
    color: var(--yellow);
    background: transparent;
}
.active{
   color: var(--yellow);
} 


.navbar .btn{
background: var(--blue);
color: #FFF;
border-radius: 50px;
padding-left: 20px;
padding-right: 20px;
}
.btn-dark+.btn{
background: var(--blue);
color: #FFF;
border-radius: 50px;
padding-left: 20px;
padding-right: 20px;
margin-right: 20px;
float: right;
border: none;
display: none;
}
/*Navigation End*/

/*First-section Start*/
/*First-section Start*/
.first-section{
  background:var(--blue);
  padding: 0;
  margin-top: 12px;
  position: relative;
}
/*First-section content-box*/
.first-section .content-box{
      width: 40%;
  background: #fff;
  padding: 40px;
  position: absolute;
  top: 17%; left: 13%;
}
.first-section .content-box h1{
  color: #0B1B69;
  font-weight: 600;
  font-size: 3.1rem;
}
.first-section .content-box p{
  color: var(--text);
  font-size: 14px;
  padding-top: 0.6rem;
}
.first-section .content-box .btn1{
  background:  #FFD02D;
  margin-top: 10px;
  padding: 8px;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  border-radius: 30px;
  color: #0B1B69;
  font-weight: 550;
  text-transform: uppercase;
  transition: all .3s ease;
}
.first-section .content-box .btn1:hover{
transform: scale(1.05);
}
.first-section .content-box i{
  font-size: 60px;
  color: #FFD02D;
  cursor: pointer;
  display: block;
  margin-left: 15px;
  transition: all .3s ease;
}
.first-section .content-box i:hover{
background: #FFD02D;
color: #0B1B69;
}
.first-section .content-box .btn2{
  font-family: 'inter' , sans-serif;
  color: #0B1B69;
  font-size: 1rem;
  padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
  border: none;
  width: 150px;
  background: transparent;
  font-weight: 600;
  text-transform: uppercase;
}
/*First-section content-box End*/
.fancy {
  line-height: 0.5;
  text-align: left;
}
.fancy span {
  display: inline-block;
  position: relative;  
  font-size: 18px;
  font-family: Inter ,sans-serif;
  font-weight: 500;
}
.fancy span:before{
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 3px solid var(--yellow);
  top: 0;
  width: 50px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
/*Second-section  Start*/
.second-section{
	color: var(--blue);
}
.second-section .image-1{
	position: relative;
	top: 0; left: 0%;
  z-index: -1;
  overflow: hidden;
}
.second-section .image-2{
	position: absolute;
	top: 15%; left: -15%;
    padding-right: 12%;
	z-index: 100;
}
.second-section .image-2 img{
  border:1rem solid #fff;
  width: 80%;
      max-width: 100%;
  height: auto;
}
.second-section .image-1 > img {
  padding-left: 100px;
  width: 125%;
}
.second-section .counter-imgbox{
  position: absolute;
  bottom:-20px; left: 0;
  padding: 0;
}
.second-section .counter-imgbox h1{
  color: var(--blue);
}
.second-section .counter-imgbox .count-text{
color: var(--text);
font-size: 1rem;
}

/*Welcome-Inner In Second Section*/
.second-section h2{
  font-weight: 600;
}
.second-section p{
  font-size: 14px;
  line-height: 24px;
  color: var(--text);
  text-align: justify;
}

.second-section .fancy {
  line-height: 0.5;
  text-align: center;
}
.second-section .fancy span {
  display: inline-block;
  position: relative;  
  font-weight: 550;
  color: var(--blue);
}
.second-section .fancy span:before{
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 3px solid var(--yellow);
  top: 0;
  width: 50px;
}
.second-section .fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.second-section .welcome-inner{
  padding: 1.5rem 0 0 2rem;
}


.second-section .btn{
	padding: 18px 32px 18px 32px;
	 background:  var(--yellow);
   color: var(--blue);
	 font-weight: 600;
	 font-size: 14px;
	 line-height: 14px;
	border-radius: 50px;
  transition: 0.4s ease-in-out;
}
.second-section .btn:hover{
transform: scale(1.05);
}
/*Second-section End*/
/*Third-section Services Start*/
.third-section{ 
  margin-top: 60px;
background:linear-gradient(rgba(25, 25, 25,0.8),rgba(25, 25, 25,0.8)), url("../images/bulb.jpg");
background-size: cover;
background-position: center;
color: #fff;
padding-top: 80px;
padding-bottom: 150px;
} 
.third-section .first-row h4 {
font-size: 34px;
line-height: 41px;
font-weight: 600;
}
.third-section .first-row h4 ~ p{
  font-size: 14px;
}
.third-section .col-md-6 h4{
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
}
.third-section .icon {
     display: inline-block;
     padding: 0px 20px;
   }

.third-section .icon i {
     background: linear-gradient(rgba(255, 208, 0,0.8),rgba(255, 208, 0,0.8));
     line-height: 80px;
     color: var(--blue);
     font-size: 3rem;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
}
.third-section .content h4 ~ p{
  font-size: 14px;
}
.third-section .content a{
color: #FF9915;
text-decoration: none;
font-weight: 550;
font-family: 'inter',sans-serif;
}
/*Third-section End*/
/*Counter*/
/*four-Number-section Counter Start*/
.four-section{
  /*padding-bottom: 80px;*/
  padding-top: 0;
}
.four-section .wrapper { 
 margin: 0px auto;
  position: relative;
  background: var(--blue); 
  z-index: 11;
  top: -80px; left: 20%; right: 0;
}
.four-section .counter {
  padding: 32px 0;
}
.four-section .count-title { 
  color: #fff;
  font-size: 42px; 
  font-weight: normal;   
  text-align: center;
   }
.four-section .count-text { 
  color: #fff;
  font-size: 13px; 
  font-weight: normal;
    margin-top: 10px;
     margin-bottom: 0;
      text-align: center;
       }
    .four-section   .wrapper_d {
  display: flex;
  justify-content: center;
  align-items: center;
}
.four-section .fa-2x{
 margin: 0 auto; 
 margin-left: 6px;
  display: table; 
  color: var(--yellow);
  font-size: 22px;
   }

/*four-Number-section End*/
/*Five-PricingPlan-section Start*/
/*.fifth-section{
padding: 80px 0;
}

.fifth-section h2{
	color: #0B1B69;
}
.fifth-section .btn{
	border-radius: 25px;
}
.fifth-section .card-box{
box-shadow: 5px 5px  #eee;
}
.fifth-section .card{
	background:#0B1B69;
	padding: 3rem;
	text-align: center;  
}
.fifth-section .card h2{
color: #FFD029;
}
.fifth-section .card a{
	text-decoration: none;
	color: #FFD029;
}
.fifth-section .text ul li{
	list-style: none;
	padding: 8px;
	color: #6c7084;
}
.fifth-section .text ul li:before {	
    font-family: "Font Awesome 5 Free";
   content: "\f095";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}*/

/*Five-PricingPlan-section End*/
/*Six-Services-section Start*/
.six-section{
background:linear-gradient(rgba(3, 11, 60,0.9),rgba(3, 11, 60,0.9)), url("../images/industrial-machine-PW7XEXK.jpg");
background-size: cover;
background-position: center;
color: #fff;
padding-top: 80px;
padding-bottom: 40px;
}
.six-section h1{
  font-size: 2.8rem;
  line-height: 41px;
  font-weight: 600;
  color: #FFF;
}
.six-section .icon i {
     background: var(--yellow);
     padding: 14px;
     color: var(--blue);
     font-size: 3rem;
     border-radius: 50%;
     width: 80px;
     height: 80px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
}
.six-section h4{
  font-size: 24px;
  line-height: 31px;
}
.six-section p{
    font-family: Heebo , sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
.six-section .model-img img{
  width: 100%;
  height: auto;
}

/*Six-Services-section End*/
/*Seven-Project-section End*/
.seven-section{
  padding-top: 80px;
  padding-bottom: 80px;
color: var(--blue);
transition: all 0.5s linear;
}
.seven-section .fancy{
  color: var(--blue);
}
.seven-section h2{
font-weight: 600;
}
.seven-section p{
color: #000;
}
.seven-section .first-row-btn{
  background: var(--yellow);
	border-radius: 15px;
  font-weight: 500;
	color: var(--blue);
  transition: 0.4s ease-in-out;
}
.seven-section .first-row-btn:hover{
 transform: scale(1.05);
}


/*Seven-Project-section End*/
/*-------------------*/
.our-team{
    position: relative;
    margin: 35px 0;
   overflow-x: hidden;
}
.our-team  img{
    width:100%;
    height: auto;
    z-index:1;
    transform:translateY(0px);
    transition: all 0.50s ease;
}
.our-team:hover img{
    transform:translateY(-60px);
}
.our-team .team-content{
    position: absolute;
    bottom: 46px;
    left: 0;
    width:100%;
    opacity:0;
    color: #2b2f3e;
    padding: 20px 0;
    text-align: center;
    background:linear-gradient(rgba(3, 11, 60,0.9),rgba(3, 11, 60,0.9));
    transform:translateY(0px);
    transition: all 0.50s ease-in-out 0s;
}
.our-team:hover .team-content{
    transform:translateY(46px);
    opacity:1;
}
.our-team .team-title{
    font-size:19px;
    color:#FFF;
    margin:0;
    letter-spacing:1px;
}
.our-team .content {
  padding: 0 20%;
text-align: center;
color: #FFF;
margin-top: 1rem;
}
.our-team .content p{
  color: #FFF;
}
.our-team .content .btn{
  color: var(--yellow);
}
 .our-team .team-prof{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background: rgba(3, 11, 60,0.9);
    transform: translateX(0);
    transition: all 0.20s ease 0s;
}
 .our-team:hover .team-prof{
    transform: translateX(100%);
}
 .our-team .team-prof .post-title{
    font-size: 18px;
    color: #FFF;
    margin: 0;
    text-transform: uppercase;
}
.our-team .team-prof .post-title::after{
   content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFF;
    margin: 0px auto;
}
@media screen and (max-width: 767px){
    .our-team{
        margin-bottom: 15%;
    }
    .our-team .content {
      padding: 0 2%;
    }
}
/*---------------------*/
/*Testimonials-section Start*/
.eight-section{
padding: 100px 0;
	color: #fff;
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/electrician.jpg");
background-attachment: scroll, scroll;
background-size: cover;
background-attachment: fixed;
background-position: 0% 74%;
    background-repeat: no-repeat;
}
.eight-section p{
color: #fff;
}
.eight-section .p2 .quote h2{
/*color: #FF9915;*/
font-size: 58px;
}
/*Testimonials-section End*/
/* Blog-section Start*/
.nine-section{
	padding-top:  80PX;
  padding-bottom: 80px;
	color: var(--blue);
}
.nine-section .fancy{
  color: var(--blue);
}
.nine-section p{
  color: #000;
}
.nine-section .card-body a{
color: #FF9915;
text-decoration: none;
}
.nine-section .client-carousel img{
/*  width: 260px;
  height: 100px;*/
}
.nine-section .owl-theme .owl-dots .owl-dot.active span,.nine-section .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--blue);
  margin-top: 20px;
}
/* Blog-section End*/
/*Whatsapp-btn*/
.whatsapp-btn a{
  position:fixed;
  width:50px;
  height:50px;
  line-height: 54px;
  bottom:40px;
  left:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:28px;
  z-index:100;
  text-decoration: none;
}

/*Whatsapp-btn*/
/* footer-section start*/
footer{
background:linear-gradient(rgba(3, 11, 60,0.9),rgba(3, 11, 60,0.9)), url("../images/electrical-diagrams-multimeter-for-measurement-in-electrical-installation.jpg");
background-size: cover;
 background-position: 0px 30%;
    background-repeat: no-repeat;
}
footer a{
  text-decoration: none;
}
footer img{
	width: 52%;
}
footer p{
padding-top: 1rem;
	color: #FFF;
  font-size: 14px;
}
footer .icons {
     display: inline-block;
     padding: 0px 20px;
   }
   
  footer .icons i {
     background: var(--yellow);
    line-height: 40px;
     color: var(--blue);
     font-size: 22px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
     transition: all 0.4s ease;
   }
   footer .icons i:hover{
   	background: #FFF;
   	color: var(--yellow);
   }
   footer  h5:after{
	background-color: var(--yellow);
	content: "";
	display: block;
	width: 100px;
	height: 2px;
	margin: 20px 0 10px;
}
footer .quick-link ul ,footer .useful-links ul{
	padding: 0;
  margin-top: 1.5rem;
}
footer .quick-link ul li ,footer .useful-links ul li{
	list-style: none;
	padding-top: 6px;
}
footer .quick-link ul li a ,footer .useful-links ul li a{
	color: #fff;
	text-align: center;
	text-decoration: none;
  transition: all 0.5s;
}
   footer  h4{
    font-size: 1.4rem;
   }
footer .newsletter p{
  margin-top: 1.5rem;
	padding: 0;
  color: #FFF;
  font-size: 14px;
}
footer .newsletter .btn{
	color: var(--blue);
  background: var(--yellow);
	border: none;
  border-radius: 0;
  margin-right: 10px;
  box-shadow: none;
}
/*contact-section*/
footer h6{
  font-size: 1.2rem;
}
footer span{
  font-size: 1rem;
}
footer .call-btn{
	margin-top: 30px;
	padding: 20px;
	background:var(--blue);
	text-align: center;
	color: #FFF;
	vertical-align: middle; 
}
footer .call-btn .icons i {
     background: var(--yellow);
     color: var(--blue);
     font-size: 22px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
   }
footer .support-btn{
	margin-top: 30px;
	padding: 20px;
	background:var(--yellow);
	text-align: center;
	color: var(--blue);
	vertical-align: middle; 
}
footer .support-btn .icons i {
     background: var(--blue);
     color: #FFF;
     font-size: 22px;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin-left: 8px;
     text-align: center;
     vertical-align: center;
   }
  footer .copyright p{
   padding: 10px 0;
   margin: 0;
}
  footer .copyright  a{
    text-decoration: none;
color: #FFF;
  }
  footer .copyright{
   border-top: 2px solid #eee;
}

   /*footer-section End*/
   /* ============ mobile view ============ */
@media all and (max-width: 991px) {
  
  
  .offcanvas-header{ display:block; }

  .mobile-offcanvas{
    visibility: hidden;
    transform:translateX(-100%);
      border-radius:0; 
    display:block;
      position: fixed;
      top: 0; left:0;
      height: 100%;
      z-index: 1200;
      width:80%;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .mobile-offcanvas.show{
    visibility: visible;
      transform: translateX(0);
  }
  .mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
    display: block;
  }
}

 /*media query  */
  @media(max-width: 1078px){
    .first-section .content-box{
    top: 14%;
  }
  }
   @media(max-width: 1400px){
 .third-section .col-md-6 h4 {
    font-size: 21.5px;
  }
   }
 @media(max-width: 1200px){
  .first-section .content-box{
    top: 16%;
  }
 	.second-section .images-box1{
width: 50%; 	
overflow: hidden;	
 	}
 	.second-section .images-box1 .image-2{
 		top: 30%;
 	}
 	.second-section p, .second-section h2 , .second-section .icon-container .btn{
 		padding-left: 40px;
 	}
 
 	.fifth-section .card{
 		padding: 2rem;
 		text-align: center;
 	}
 	.seven-section .btn{
 		width: 150px;
 	}
 	footer .icons{
 		padding: 10px;
 }
}
 @media(max-width: 885px){
.second-section .images-box1{
width: 50%; 	
overflow: hidden;	
 	}
 }

 @media(max-width: 991px){
 header .icon-box{
 		display: none;
 	}
  .btn-dark+.btn{
  display: initial;
 }
  .navbar .navbar-nav .nav-item .nav-link {
    margin-left: 0.25rem!important;
  }
.first-section .content-box {
    width: 60.5%;
  }
  .second-section .btn{
  margin-left: 26px;
}
.second-section .images-box1{
	width: 100%;
	text-align: center;
}
.second-section .image-2{
	top: 10%; left: 0;
}
.second-section .counter{
	display: none;
}
.fifth-section .card-box .text ul{
 		padding: 0;
 	}
 	.fifth-section .card-box{
 		padding: 14px;
 	}
  .six-section .model-img{
    display: none;
  }
}
 @media(max-width: 768px){
 	.second-section .images-box1{
 		width: 100%;
 		margin-bottom: 15px;
 	}
 	}


 @media(max-width: 640px){
 .first-section .content-box {
    width: 96%;
  }
  .first-section .content-box h1 {
    font-size: 1.3rem;
  }
  footer .quick-link{
    margin-top: 1rem;
  }
  }


 @media(max-width: 476px){
  .first-section .content-box{
    top: 6%;
    padding: 22px;
  }
  .first-section .content-box h1 {
    font-size: 1.2rem;
}

.our-team .content {
      padding: 0 20%;
    }
}










/*---------------------------------------*/
